<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SbbMapper">

	<insert id="newQuestion"
		parameterType="com.example.demo.dto.QuestionDTO">
		insert into question(id, content, createDate, subject) values (#{id},
		#{content}, #{createDate}, #{subject})
	</insert>

</mapper>